<div class="about-component">
    <p>Our mission is to provide sauna lovers with the benefits of the best authentic sauna experience available.  Founded in 1972 and based in British Columbia, Canada, Sauna King has been providing stone based sauna heating systems and custom saunas worldwide for over four decades.  Whether you are looking for a personal sauna in your home or a large sauna for a resort or strata we have the products and experience to make your project a success! Please contact us as we would love to discuss and assist you with all your sauna needs.</p>
</div>



