@import 'src/styles.scss';

.about-component {
   .about-text {
      height: 50vh;
      position: relative;
      div {
         padding: 2%;
      }

      .title {
         font-family: fuji-bold;
         color: $black;
         font-size: 6vw;
      }

      .content {
         font-family: neueMontreal-light;
         font-size: 3vh;
      }
   }

   .pic {
      height: 50vh;
      z-index: -1;

      &.section-1 {
         background: url(/assets/img/Finland_view_trees.jpg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
      }
      &.section-2 {
         background: url(/assets/img/sauna4.jpg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
      }

      &.section-3 {
         background: url(/assets/img/hoshi-sauna-3.jpg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
      }
   }
}

// Mobile
@media (max-width: 767px) {
   .about-component {
      .about-text {
         .title {
         font-size: 12vw;
         }
      }
   }
}

@media (min-width: 768px) {
}
 