<div class="about-component container-fluid">
    <div class="row">
        <div class="col-md-7 about-text d-flex align-items-end flex-column">
            <div class="title mb-auto">
                WHERE WE COME FROM 
            </div>
            <div class="content mt-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="col-md-5 pic section-1"></div>
    </div>
    <div class="row">
        <div class="col-md-7 pic section-2"></div>
        <div class="col-md-5 about-text d-flex align-items-end flex-column">
            <div class="title mb-auto">
                WHAT WE STAND FOR
            </div>
            <div class="content mt-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 about-text d-flex align-items-end flex-column">
            <div class="title mb-auto">
                WHERE WE COME FROM 
            </div>
            <div class="content mt-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="col-md-5 pic section-3"></div>
    </div>
</div>

