<div class="about-component">
    <div class="about-section">
        <span class="about-title left">
            WHERE WE COME FROM
        </span>
        <div class="about-content">
            <span class="left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
        </div>
        <div class="pic section-1 left">
            <div class="layer left"></div>
        </div>
    </div>

    <div class="about-section">
        <span class="about-title right">
            WHAT WE STAND FOR
        </span>
        <div class="pic section-2 right">
            <div class="layer right"></div>
        </div>
        <div class="about-content">
            <span class="right">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
        </div>
    </div>

    <div class="about-section">
        <span class="about-title left">
            WHY CHOOSE US
        </span>
        <div class="about-content">
            <span class="left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
        </div>
        <div class="pic section-3 left">
            <div class="layer left"></div>
        </div>
    </div>
</div>



