<div class="homepage-component container-fluid">
    <div class="row text-box intro-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
    <div class="row text-box best-sellers-section">
        <div class="col-md-12">
            <div class="text-div right">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
    <div class="row text-box steamcube-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
    <div class="row text-box custom-made-section">
        <div class="col-md-12">
            <div class="text-div right">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
</div>