<div class="homepage-component container-fluid">
    
    <div class="row text-box intro-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>

    <div class="row text-box best-sellers-section">
        <div class="col-md-12 p-5 scrollmenu">
            <mat-card *ngFor="let item of items" class="product-card">
                <mat-card-header>
                </mat-card-header>
                <div class="img-container">
                    <img mat-card-image 
                        [src]="item.image"
                        alt="{{item.name}} product image">
                    <div class="overlay">
                        <button routerLink="/product/{{item.id}}" >
                            View Product
                        </button>
                    </div>
                </div>
                
                <mat-card-content>
                    <p class="name">
                        {{item.name}}
                    </p>
                    <p class="description">
                        <!-- {{item.description}} -->
                    </p>
                    <p class="price">
                        ${{item.price}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button class="button button--buy snipcart-add-item default-button"
                        [attr.data-item-url]="item.url"
                        [attr.data-item-id]="item.id"
                        [attr.data-item-price]="item.price"
                        [attr.data-item-description]="item.description"
                        [attr.data-item-image]="item.image"
                        [attr.data-item-name]="item.name">
                        Add to cart
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row text-box custom-made-section">
        <div class="col-md-12">
            <div class="text-div right">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
    
    <div class="row text-box steamcube-section">
        <div class="col-md-12">
            <div class="text-div left">
                <div class="title">INTRO</div>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
            </div>
        </div>
    </div>
   
</div>