@import 'src/styles.scss';

.homepage-component {
    .text-box {
        height: 65vh;
        background-repeat: no-repeat;
        background-size: center center;
        position: relative;
    }

    .intro-section {
        background: url(/assets/img/sauna2.jpg);
    }

    .best-sellers-section {
        background: url(/assets/img/sauna4.jpg);
    }

    .steamcube-section {
        background: url(/assets/img/Finland_view_trees.jpg);
    }

    .custom-made-section {
        background: url(/assets/img/hoshi-sauna-3.jpg);
    }

    .text-div {
        text-align: center;
        background-color: $lightBlue;
        width: 40%;
        padding: 100px 40px;
        box-shadow: 20px 20px 30px 0 rgba(22,22,22,.125);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.left {
            margin-left: 50px;
        }

        &.right {
            right: 0;
            margin-right: 50px;
        }

        .title {
            font-family: fuji-bold;
            color: $black;
            font-size: 6vw;
            color: $white;
        }

        .content {
            font-family: neueMontreal-light;
            font-size: 2vh;
            color: $white;
            font-weight: bold;
        }
    }

}

