@import 'src/styles.scss';

.homepage-component {

    .best-sellers-section {

        .scrollmenu {
            overflow: auto;
            white-space: nowrap;
            display: flex;
            justify-content: space-between;

            .product-card {
                background-color: #f5f5f5;
                max-width: 400px;
                margin: 0 20px 0 20px;
                white-space: normal;
                display: inline-block;  
                text-align: center;

                .img-container {
                    position: relative;

                    img {
                        margin-left: auto;
                        margin-right: auto;
                    }
        
                    .overlay {
                        position: absolute;
                        bottom: 0;
                        background: rgb(0, 0, 0);
                        background: rgba(0, 0, 0, 0.5); /* Black see-through */
                        color: #f1f1f1;
                        width: 100%;
                        transition: .5s ease;
                        opacity:0;
                        color: white;
                        font-size: 20px;
                        padding: 20px;
                        text-align: center;
                    }
        
                    &:hover {
                        .overlay {
                            opacity: 1;
                        }
                    }
                }

                mat-card-content {
                    .name {
                        font-size: x-large;
                        font-weight: normal;
                    }

                    .price {
                        font-size: large;
                        margin-top: 25px;
                    }

                    p {
                        margin-bottom: 5px;
                    }
                }
                
            }
        }     
    }   

    .text-box {
        height: 65vh;
        background-repeat: no-repeat;
        background-size: center center;
        position: relative;
    }

    .intro-section {
        background: url(/assets/img/sauna2.jpg);
    }

    .best-sellers-section {
        // background: url(/assets/img/sauna4.jpg);
    }

    .steamcube-section {
        background: url(/assets/img/Finland_view_trees.jpg);
    }

    .custom-made-section {
        background: url(/assets/img/hoshi-sauna-3.jpg);
    }

    .text-div {
        text-align: center;
        background-color: $lightBlue;
        width: 40%;
        padding: 100px 40px;
        box-shadow: 20px 20px 30px 0 rgba(22,22,22,.125);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &.left {
            margin-left: 50px;
        }

        &.right {
            right: 0;
            margin-right: 50px;
        }

        .title {
            font-family: fuji-bold;
            color: $black;
            font-size: 6vw;
            color: $white;
        }

        .content {
            font-family: neueMontreal-light;
            font-size: 2vh;
            color: $white;
            font-weight: bold;
        }
    }

}


// Mobile
@media (max-width: 767px) {
    .text-div {
        width: 100% !important;

        &.left {
            margin-left: 0px !important;
        }

        &.right {
            margin-right: 0px !important;
        }
    }
 }

