<div>

  <nav class="navbar navbar-expand-sm flex-nowrap">
    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand w-100">
      <a routerLink="/"><img class="nav__logo" src="./assets/img/sk-logo-light-blue.jpg" alt="Sauna King Logo" width="100px"/></a>
    </span>
    <div class="navbar-collapse collapse w-100 justify-content-center" id="navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/steamcube">Steamcube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/store">Store</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>
    </div>
    <div class="w-100"><!--spacer--></div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link snipcart-checkout">View Cart</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>


  <footer class="footer">
    <p></p>
  </footer>
</div>
