@import 'src/styles.scss';

.categories-nav-menu {
    background-color: $black;

    li {
        cursor: pointer;
        color: $white;

        &.active {
            background-color: $black;
            border-bottom-style: solid;
            border-bottom-color: $white;
        }
    }
}

.refine-search-button {
    span {
        position: absolute;
        padding-top: 5px;
    }
    .mat-icon {
        vertical-align: middle;
     }
}

.mat-drawer {
    background-color: $white !important;
}

.no-products-container {
    span {
        font-size: 3em;
    }
    img {
        width: 20vw;
    }
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
} 
