<button
  *ngFor="let category of categories"
  (click)="getProductsByCategory(category.id)">
  {{ category.name }}
</button>

<main class="catalog" *ngIf="!loading; else loadingBlock">
    <app-products-list-item
      class="catalog__product"
      *ngFor="let product of products"
      [product]="product"
      (isLoading)="isLoadingFromProduct($event)"
      (loadedProducts)="loadedProducts($event)">
        {{ product.name }}
    </app-products-list-item>
</main>

<ng-template #loadingBlock>
  <main class="catalog catalog--loading">
    <span class="catalog__loading">
      <mat-spinner></mat-spinner>
    </span>
  </main>
</ng-template>
