<ul class="categories-nav-menu list-group flex-md-row justify-content-center">
  <li 
    [ngClass]="{'active': selectedNav == 'all'}"
    class="p-4 list-group-item"
    (click)="getAllProducts(); setActive('all')">
    All
  </li>
  <li
    [ngClass]="{'active': selectedNav == category.name}" 
    class="p-4 list-group-item"
    *ngFor="let category of categories"
    (click)="getProductsByCategory(category.id); setActive(category.name)">
    {{ category.name }}
  </li>
</ul>

<main class="catalog" *ngIf="!loading; else loadingBlock">
    <app-products-list-item
      class="catalog__product"
      *ngFor="let product of products"
      [product]="product"
      (isLoading)="isLoadingFromProduct($event)"
      (loadedProducts)="loadedProducts($event)">
        {{ product.name }}
    </app-products-list-item>
</main>

<ng-template #loadingBlock>
  <main class="catalog catalog--loading">
    <span class="catalog__loading">
      <mat-spinner></mat-spinner>
    </span>
  </main>
</ng-template>

