<figure class="product">
  <div class="img-container">
    <img [src]="product.image"/>
    <a routerLink="/product/{{product.id}}">
      <div class="overlay">
        <div class="center">View Product</div>
      </div>
    </a>
    
  </div>

  <figcaption>
    <h3 class="product__name">{{ product.name }}</h3>
    <span class="product__price">${{ product.price }}</span>
    <!-- <button class="button button--buy snipcart-add-item"
      [attr.data-item-url]="product.url"
      [attr.data-item-id]="product.id"
      [attr.data-item-price]="product.price"
      [attr.data-item-description]="product.description"
      [attr.data-item-image]="product.image"
      [attr.data-item-name]="product.name">
      Add to cart
    </button>

    <button 
      mat-raised-button 
      color="primary" 
      routerLink="/product/{{product.id}}">
      View Product
    </button> -->

    <!-- <button 
      class="button"
      (click)="modifyProduct(product.id)">
      Modify Product
    </button> -->
  </figcaption>
</figure>
